
.resent-sales-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, .33333333);
  border-radius: 20px;
  background: rgba(21, 21, 25, 0.691);
  padding: 1rem;

  .title-container{
    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 15px;
    .title {
      margin-bottom: 20px;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }


  .cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    padding: 10px;
  }

}