$img-size: 200px;

.container {
  background-color: rgba(34, 34, 34, 0.577);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;

  .left-side {
    .top {
      .item-name {
        margin: 0 0 20px 20px;
      }
    }
    .bottom {
      display: flex;
      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;

        .img {
          width: $img-size;
          height: $img-size;
          border-radius: 10px;
          transition: 0.2s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .info-container {
        padding: 40px;

        .line-spacing {
          line-height: 1.7;
        }
        
        .btn-container {
          margin-top: 20px;
          display: flex;
          .btn-1 {
            color: whitesmoke;
            font-weight: bold;
            font-family: REM;
            font-size: 1.1rem;
            height: 40px;
            border-radius: 40px;
            padding: 0 24px;
            border: 1px solid #073b46;
            letter-spacing: 1px;
            background: rgb(58, 70, 74);
            transition: 0.2s;
  
            &:hover{
              transform: scale(1.1);
              background: rgba(135, 207, 235, 0.415);
            }
          }
        }     
      }
    }
  }

  .right-side{
    .diagram-container {
      position: absolute;
      top: -2%;
      right: -5%;
      display: flex;
      align-items: flex-start;
      justify-content: left;
    }

  }

}


