.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
  position: absolute;
}

.modal-content {
  background-color: #1e1e1e;
  color: white;
  border-radius: 8px;
  position: relative;
  overflow-y: auto; /* Enable vertical scrolling */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-close {
  color: white;
  cursor: pointer;
}
.material-react-table {
  max-height: 70vh;
  overflow-y: auto;
}

